<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
  <meta charset="utf-8"> 
  <title>{% block title %}Aplikacja wspomagająca zarządzanie łańcuchem dostaw{% endblock %}</title>
  {% comment %} <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/scm.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>