{% extends 'base.html' %}

{% block title %}Add production levels{% endblock %}

{% block content %}
    
    <h1>Wprowadź szczegóły swojej oferty</h1>

    <div class="menu"> 
        <a href="{% url 'profile'%}"> <div class="option"> Strona główna</div></a> 
        <a href="{% url 'plans' %}"> <div class="option"> Aukcje</div></a> 
        <a href="{% url 'schedules' %}"> <div class="option">Harmonogramy</div></a>
        <a href="{% url 'logout' %}?next=/"><div class="optionLast">Wyloguj się</div></a>
        <div style="clear:both"></div>
    </div>

    <form method='POST' class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <h2>{{formset_title}}</h2>
        {{offer_details.as_p}}
        <button class="save" type="submit" style=""> Zapisz </button>
    </form>

    <form>
        <input type="button" value="Wróć do poprzedniej strony" onclick="history.back()">
    </form>


{% endblock %}