{% extends "base.html" %}

{% block content %}

  <h1>Szczegóły oferty</h1>

  <div class="menu"> 
    <a href="{% url 'profile'%}"> <div class="option"> Strona główna</div></a> 
    <a href="{% url 'plans' %}"> <div class="option"> Aukcje</div></a> 
    <a href="{% url 'schedules' %}"> <div class="option">Harmonogramy</div></a>
    <a href="{% url 'logout' %}?next=/"><div class="optionLast">Wyloguj się</div></a>
    <div style="clear:both"></div>
  </div>

  <h2>Identyfikator oferty: {{ salesoffer.id }}</h2>
  <p><strong>Oferta sprzedaży nr {{ salesoffer.number }}, złożona w ramach aukcji <em>{{ salesoffer.plan.name }}</em></strong></p>

  <h2>Magazyn:</h2>
  <table class="detailTable">
    <thead>
      <tr>
        <th>parametr</th> 
        <th>wartość</th>
      </tr>
    </thead>
    <tbody>
      <tr> 
        <td> <strong>Stan magazynu w pierwszym dniu objętym planem:</strong> </td> 
        <td style="text-align: center"> {{ salesoffer.stock_level }} </td>
      </tr>
      <tr> 
        <td> <strong>Koszt magazynowania jednostki towaru:</strong> </td> 
        <td style="text-align: center"> {{ salesoffer.stock_cost }} </td>
      </tr>
      <tr> 
        <td> <strong>Maksymalna pojemność magazynu:</strong> </td> 
        <td style="text-align: center"> {{ salesoffer.max_stock_capacity }} </td>
      </tr>
    </tbody>
  </table>


  <h2>Produkcja</h2>

  <p><strong>Początkowe koszty produkcji:</strong> {{ salesoffer.setup_cost }}</p>

  <table class="detailTable">
    <thead>
      <tr>
        <th>górny próg produkcji (liczba jednostek)</th> 
        <th>koszt jednostki</th>
      </tr>
    </thead>
    <tbody>
      {% for capacity in salesoffer.production_capacities.all %}
        <tr> 
          <td style="text-align: center"><strong>{{ capacity.production_level }}</strong>  </td>
          <td style="text-align: center"><strong>{{ capacity.production_cost }}</strong>  </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  {% if salesoffer.plan.calculate_plan_status == 'rozpoczęto składanie ofert' %}
    <form action="/accounts/salesoffer/update/{{salesoffer.id}}/">
      <input type="submit" value="Edytuj ofertę">
    </form>
    <form action="/accounts/salesoffer/delete/{{salesoffer.id}}/">
      <input type="submit" value="Usuń ofertę">
    </form>
  {% endif %}


  <form>
    <input type="button" value="Wróć do poprzedniej strony" onclick="history.back()">
  </form>

  {% comment %} <p><a href="{% url 'plans' %}">Wróć do listy planów</a></p>
  <p><a href="{% url 'profile' %}">Wróć do strony głównej</a></p> {% endcomment %}

{% endblock %}